<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://kit.fontawesome.com/9fd1a302e2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="fixed-top" id="header">
        <nav class="navbar">
            <div class="container-fluid text-secondary-emphasis">
              <a class="navbar-brand"><strong>COFFEELAND</strong>
                <i class="fa-solid fa-mug-hot"></i>
              </a>
              <ul class="nav nav-underline justify-content-end">
                <li class="nav-item">
                  <a class="nav-link text-secondary" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="./menu.html">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="./booking.html">Booking</a>
                </li>
            </div>
        </nav>
    </header>
    <main>
        <section class="container6 container-fluid" id="booking">
          <article id="articleForms">
            <h3>Celebrate your special occasions with us!</h3><h4>You just have to fill in the following forms.</h4>
          </article>
          <form class="form">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" value="" placeholder="Enter your name" minlength="3" maxlenght="50" pattern="[a-zA-Z]{3-20}" title="You can only enter letters." autocomplete="off" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address" required aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="number" class="form-control" id="exampleInputAge" placeholder="Enter your age" min="1" max="99" id="age" required aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="month" class="form-label">Choose a date</label>
              <input type="month" class="form-control" id="exampleInputMonth" placeholder="Enter your email address" required aria-describedby="emailHelp">
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
              <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose a table</option>
                <option value="1">Table 1</option>
                <option value="2">Table 2</option>
                <option value="3">Table 3</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Any other comment?</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1" aria-required="true">Do you accept our terms and policies?</label>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </section>
    </main>
    <footer class="footer container-fluid">
      <div class="footerItems"><i class="fa-regular fa-envelope"></i> cflbog@gmail.com 
      </div>
      <div class="footerItems"><i class="fa-solid fa-phone"></i> 3108935224
      </div>
      <div class="footerItems"><i class="fa-brands fa-facebook-f"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
    <script src="./scripts/app.js"></script>
  </body>
</html>